{% extends 'basic_app/base.html' %}
{% block content %}
{% load static %}
<!-- banner -->
<div class="banner-bg-inner">
	<!-- banner-text -->
	<div class="banner-text-inner">
		<div class="container">
			<h2 class="title-inner">
				world of reading
			</h2>

		</div>
	</div>
	<!-- //banner-text -->
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="crumbs text-center">
	<div class="container">
		<div class="row">
			<ul class="btn-group btn-breadcrumb bc-list">
				<li class="btn btn1">
					<a href="index.html">
						<i class="glyphicon glyphicon-home"></i>
					</a>
				</li>
				<li class="btn btn2">
					<a href="shop.html">Product Catalogue</a>
				</li>
				<li class="btn btn3">
					<a href="single_product.html">Single product</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--//breadcrumbs ends here-->
<!-- Single -->
{% if messages %}
<div class="alert alert-primary" role="alert">
	{% for i in messages %}
	{{i}}
	{% endfor %}
</div>
{% endif %}
<div class="innerf-pages section">
	<div class="container">
		<div class="col-md-4 single-right-left ">
			<div class="grid images_3_of_2">
				<div class="flexslider1">
					<ul class="slides">
						<li data-thumb="images/s1.jpg">
							<div class="thumb-image">
								<a href="{%url 'books:preview' p.id %}">
									<img src="{{ p.cover.url }}" data-imagezoom="true" alt=" "
										class="img-responsive"></a>
							</div>
							<p></p>
							<h3><a href="{%url 'books:preview' p.id %}">Click Here for Preview</a></h3>

						</li>
						<!-- <li data-thumb="images/s2.jpg">
									<div class="thumb-image">
										<img src="images/s2.jpg" data-imagezoom="true" alt=" " class="img-responsive"> </div>
								</li> -->
						<!-- <li data-thumb="images/s3.png">
									<div class="thumb-image">
										<img src="images/s3.png" data-imagezoom="true" alt=" " class="img-responsive"> </div>
								</li> -->
					</ul>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
		<div class="col-md-8 single-right-left simpleCart_shelfItem">
			<h3>{{p.title}}
				<span>({{p.printed_year}})</span>
			</h3>
			<p>by
				{% for w in p.authors.all %}
				<a href="#">{{w.name}}</a>
				{% endfor %}
			</p>
			<div class="caption">
				<div class="clearfix"> </div>
				<h6>Rs.
					{{p.price}}</h6>
			</div>
			<div class="desc_single">
				<h5>Description</h5>
				<p>{{p.description}}</p>
				<p></p>
			</div>
			<div class="occasional">
				<h5>Specifications</h5>
				<ul class="single_specific">
					<li>
						<span>Category :</span>{% for c in p.categories.all %}
						<a href="{%url 'books:search' %}">{{c.cat_name}}</a>
						{% endfor %}
					</li>
					<li>
						<span>edition :</span> {{p.printed_year}}
					</li>
				</ul>

			</div>
			<div class="clearfix"></div>
			<!-- <div class="description">
				<h5>Check delivery, payment options and charges at your location</h5>
				<form action="#" method="post">
					<input type="text" value="Enter pincode" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = 'Enter pincode';}" required="">
					<input type="submit" value="Check">
				</form>
			</div> -->
			<div class="occasion-cart">
				<div class="chr single-item single_page_b">
					
					<form action="{% url 'books:cart' %}" method="POST">
						{% csrf_token %}
						
						<!-- <span>Quantity:</span> -->
						<div style="display: flex; flex-direction: row;">
							<span style="color: #000; font-weight: 600; font-size: 16px;">Quantity: </span><input style="margin-left: 5px;margin-bottom: 15px;" type="number" value="1" min="1" name='qty'>
						</div>

						<input type="hidden" value="{{p.id}}" name='bid'>
						<button type="submit" class="btn btn-success btn-block">
							<i class="fa fa shopping-cart"></i>
							Add To Cart
						</button>
					</form>
			
				</div>
				<div class="chr single-item single_page_b">
					<div style="font-weight: 700; font-size:22px;  margin: 20px 0">
						<a href='{% url "books:cart" %}'>
							<span style="color: #01B3E4;">
								Go to CART page
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- /new_arrivals -->

<!--// Single -->
<!-- footer -->
{% endblock %}